name: Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  ALIYUN_REGISTRY: "${{ secrets.ALIYUN_REGISTRY }}"
  ALIYUN_NAME_SPACE: "${{ secrets.ALIYUN_NAME_SPACE }}"
  ALIYUN_REGISTRY_USER: "${{ secrets.ALIYUN_REGISTRY_USER }}"
  ALIYUN_REGISTRY_PASSWORD: "${{ secrets.ALIYUN_REGISTRY_PASSWORD }}"

jobs:
  build:
    name: Pull images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chunk: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19] # 19 并行 job
      max-parallel: 19
    steps:
      - name: Before freeing up disk space
        run: |
          echo "Before freeing up disk space"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="

      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 2048
          swap-size-mb: 128
          remove-dotnet: 'true'
          remove-haskell: 'true'
          build-mount-path: '/var/lib/docker/'

      - name: Restart docker
        run: sudo service docker restart

      - name: Free up disk space complete
        run: |
          echo "Free up disk space complete"
          echo "=============================================================================="
          df -hT
          echo "=============================================================================="

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image Aliyun
        run: |
          docker login -u $ALIYUN_REGISTRY_USER -p $ALIYUN_REGISTRY_PASSWORD $ALIYUN_REGISTRY

          # 先建立 duplicate_images 映射，避免不同 namespace 重复
          declare -A duplicate_images
          declare -A temp_map
          while IFS= read -r line || [ -n "$line" ]; do
              [[ -z "$line" || "$line" =~ ^\s*# ]] && continue
              image="${line%%@*}"
              image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
              name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
              name_space="${name_space}_"
              image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')
              if [[ -n "${temp_map[$image_name]}" && "${temp_map[$image_name]}" != "$name_space" ]]; then
                  duplicate_images[$image_name]="true"
              else
                  temp_map[$image_name]=$name_space
              fi
          done < images.txt

          # 分片处理 images.txt
          total_chunks=19
          chunk_index=${{ matrix.chunk }}
          total_lines=$(wc -l < images.txt)
          images_per_chunk=$(( (total_lines + total_chunks - 1)/total_chunks ))
          start=$((chunk_index * images_per_chunk + 1))
          end=$((start + images_per_chunk - 1))
          if [ $end -gt $total_lines ]; then end=$total_lines; fi

          sed -n "${start},${end}p" images.txt | while IFS= read -r line || [ -n "$line" ]; do
              [[ -z "$line" || "$line" =~ ^\s*# ]] && continue
              new_image2="$ALIYUN_REGISTRY/$ALIYUN_NAME_SPACE/$platform_prefix$name_space_prefix$image_name:latest"

              # 先检查 Aliyun 上 latest 是否存在
              if docker manifest inspect "$new_image2" > /dev/null 2>&1; then
                  echo "Image $new_image already exists on Aliyun. Skipping."
                  continue
              fi
              echo "Attempting docker pull $line..."
              if ! docker pull "$line"; then
                  echo "Warning: Failed to pull $line. Skipping."
                  continue
              fi


              platform=$(echo "$line" | awk -F'--platform[ =]' '{if (NF>1) print $2}' | awk '{print $1}')
              platform_prefix=${platform:+${platform//\//_}_}

              image=$(echo "$line" | awk '{print $NF}')
              image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
              name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
              image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')

              name_space_prefix=""
              if [[ -n "${duplicate_images[$image_name]}" && -n "$name_space" ]]; then
                  name_space_prefix="${name_space}_"
              fi

              image_name_tag="${image_name_tag%%@*}"
             
              echo "Tagging and pushing $new_image..."
              docker tag "$image" "$new_image"

              docker push "$new_image"

              echo "Cleaning up images..."
              echo "=============================================================================="
              df -hT
              docker rmi "$image" "$new_image" || true
              echo "=============================================================================="
              df -hT
              echo "=============================================================================="
          done
